body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 20px;
    margin: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }